---
import NavLink from "@/components/atoms/NavLink.astro";
import type { NavBarProps } from "@/schemas/components";

const {
	navLinks = [],
	class: className = "",
	id: idName = "",
} = Astro.props as NavBarProps;
---

<nav class=`navBar ${className}` id={idName}>
  {navLinks.map((link) => (
    <NavLink title={link.title} route={link.route} class={link.class} id={link.id} />
  ))}
</nav>


<style>
  .navBar {
    display: flex;
    height: 20px;
    gap: 2em;


  /*adapt to any location by simply placing the class variant ↓ */

  &.navHeader {
    margin-right: 4em; 
  }      

  &.navBarFooter {
    flex-direction: column;
  }
}
</style>
